[ req ]
distinguished_name = req_distinguished_name
prompt = no

[ req_distinguished_name ]
O = Example
OU = Example Test
CN = {{ username }}

[ req_exts ]
basicConstraints = CA:FALSE
nsCertType = client, email
nsComment = "{{ username }}"
subjectKeyIdentifier = hash
keyUsage = critical, nonRepudiation, digitalSignature
extendedKeyUsage = clientAuth, emailProtection, msSmartcardLogin
subjectAltName = otherName:msUPN;UTF8:{{ username }}@EXAMPLE.COM, email:{{ username }}@example.com

